# Local terraform directories
.terraform/*

# State files (Contains sensitive info about your infrastructure)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Variables files (If you ever use them)
*.tfvars
*.tfvars.json

# Private keys (Your SSH keys!)
*.pem

# Ignore Mac system files
.DS_Store